@font-face {
  font-family: digi;
  src: url(../fonts/iranyekanwebregular.e31c09af.woff2);
}
/*start make caregorize*/
h1,
h2 {
  font-family: digi;
  font-weight: 400;
}
div.categorize {
  width: 85%;
  height: 445px;

  margin-right: 150px;
  display: inline-block;
  text-align: center;
}
div.categorize a {
  display: inline-block;
  width: 15%;
  height: 185px;
  text-decoration: none;
  position: relative;
}
div.categorize a img {
  width: 70%;
}
div.categorize a span {
  position: absolute;
  bottom: -5px;
  right: 40%;
}
div.categorize a:nth-of-type(2) span {
  position: absolute;
  bottom: -5px;
  right: 30%;
}
div.categorize a:nth-of-type(3) span {
  position: absolute;
  bottom: -5px;
  right: 30%;
}
div.categorize a:nth-of-type(4) span {
  position: absolute;
  bottom: -5px;
  right: 32%;
}
div.categorize a:nth-of-type(5) span {
  position: absolute;
  bottom: -5px;
  right: 25%;
}
div.categorize a:nth-of-type(6) span {
  position: absolute;
  bottom: -5px;
  right: 20%;
}
div.categorize a:nth-of-type(7) span {
  position: absolute;
  bottom: -5px;
  right: 20%;
}
div.categorize a:nth-of-type(8) span {
  position: absolute;
  bottom: -5px;
  right: 30%;
}
div.categorize a:nth-of-type(9) span {
  position: absolute;
  bottom: -5px;
  right: 35%;
}
div.categorize a:nth-of-type(10) span {
  position: absolute;
  bottom: -5px;
  right: 25%;
}
div.categorize a:nth-of-type(11) span {
  position: absolute;
  bottom: -5px;
  right: 20%;
}
div.categorize a:nth-of-type(12) span {
  position: absolute;
  bottom: -5px;
  right: 20%;
}
/*end make caregorize*/
